<?xml version="1.0"?>  
<config>  
    <className>com.designpattern.creational.abstractfactorypattern.SpringSkinFactory</className>
    <className>com.designpattern.creational.builderpattern.AngelBuilder</className>  
    <className>com.designpattern.structural.adapterpattern.OperationAdapter</className>  
     <!--RefinedAbstraction-->  
    <className>com.designpattern.structural.bridgepattern.JPGImage</className>   
    <!--ConcreteImplementor-->  
    <className>com.designpattern.structural.bridgepattern.WindowsImp</className> 
    <className>com.designpattern.behavioral.strategypattern.StudentDiscount</className> 
    <className>com.designpattern.behavioral.templatepattern.RedVideoPhoneTemplate</className> 
     <className>com.designpattern.behavioral.visitorpattern.HRDepartment</className> 
</config>  